// TODO: figure out why app.scss won't compile
//@import '../styles/ice-box/index';

/*
Styleguide: Ice Box - Utilties - Typography - Custom Fonts
*/
@font-face {
  font-family: "Univers-Next";
  src: url("/@addepar/ice-box/fonts/UniversNextW01Light.woff") format("woff"), url("/@addepar/ice-box/fonts/UniversNextW01Light.ttf") format("ttf");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "Univers-Next";
  src: url("/@addepar/ice-box/fonts/UniversNextW01Regular.woff") format("woff"), url("/@addepar/ice-box/fonts/UniversNextW01Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Univers-Next";
  src: url("/@addepar/ice-box/fonts/UniversNextW01Medium.woff") format("woff"), url("/@addepar/ice-box/fonts/UniversNextW01Medium.ttf") format("ttf");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "Univers-Next";
  src: url("/@addepar/ice-box/fonts/UniversNextW01Bold.woff") format("woff"), url("/@addepar/ice-box/fonts/UniversNextW01Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "Univers-Next-Condensed";
  src: url("/@addepar/ice-box/fonts/UniversNW01320CdLt.woff") format("woff"), url("/@addepar/ice-box/fonts/UniversNW01320CdLt.ttf") format("ttf");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "Univers-Next-Condensed";
  src: url("/@addepar/ice-box/fonts/UniversNW01420CdRegular.woff") format("woff"), url("/@addepar/ice-box/fonts/UniversNW01420CdRegular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Univers-Next-Condensed";
  src: url("/@addepar/ice-box/fonts/UniversNW01520CdMedium.woff") format("woff"), url("/@addepar/ice-box/fonts/UniversNW01520CdMedium.ttf") format("ttf");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "Univers-Next-Condensed";
  src: url("/@addepar/ice-box/fonts/UniversNW01620CdBold.woff") format("woff"), url("/@addepar/ice-box/fonts/UniversNW01620CdBold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "Univers-Tabular";
  src: url("/@addepar/ice-box/fonts/UniversLTLight.woff") format("woff"), url("/@addepar/ice-box/fonts/UniversLTLight.ttf") format("ttf");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "Univers-Tabular";
  src: url("/@addepar/ice-box/fonts/UniversLTRoman.woff") format("woff"), url("/@addepar/ice-box/fonts/UniversLTRoman.ttf") format("ttf");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Univers-Tabular";
  src: url("/@addepar/ice-box/fonts/UniversLTBold.woff") format("woff"), url("/@addepar/ice-box/fonts/UniversLTBold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "Tiempos Headline";
  src: url("/@addepar/ice-box/fonts/TiemposHeadlineWeb-Light.eot");
  src: url("/@addepar/ice-box/fonts/TiemposHeadlineWeb-Light.eot?#iefix") format("embedded-opentype"), url("/@addepar/ice-box/fonts/TiemposHeadlineWeb-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "Tiempos Headline";
  src: url("/@addepar/ice-box/fonts/TiemposHeadlineWeb-LightItalic.eot");
  src: url("/@addepar/ice-box/fonts/TiemposHeadlineWeb-LightItalic.eot?#iefix") format("embedded-opentype"), url("/@addepar/ice-box/fonts/TiemposHeadlineWeb-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: "Tiempos Headline";
  src: url("/@addepar/ice-box/fonts/TiemposHeadlineWeb-Regular.eot");
  src: url("/@addepar/ice-box/fonts/TiemposHeadlineWeb-Regular.eot?#iefix") format("embedded-opentype"), url("/@addepar/ice-box/fonts/TiemposHeadlineWeb-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Tiempos Headline";
  src: url("/@addepar/ice-box/fonts/TiemposHeadlineWeb-RegularItalic.eot");
  src: url("/@addepar/ice-box/fonts/TiemposHeadlineWeb-RegularItalic.eot?#iefix") format("embedded-opentype"), url("/@addepar/ice-box/fonts/TiemposHeadlineWeb-RegularItalic.woff") format("woff");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: "Tiempos Headline";
  src: url("/@addepar/ice-box/fonts/TiemposHeadlineWeb-Medium.eot");
  src: url("/@addepar/ice-box/fonts/TiemposHeadlineWeb-Medium.eot?#iefix") format("embedded-opentype"), url("/@addepar/ice-box/fonts/TiemposHeadlineWeb-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "Tiempos Headline";
  src: url("/@addepar/ice-box/fonts/TiemposHeadlineWeb-MediumItalic.eot");
  src: url("/@addepar/ice-box/fonts/TiemposHeadlineWeb-MediumItalic.eot?#iefix") format("embedded-opentype"), url("/@addepar/ice-box/fonts/TiemposHeadlineWeb-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: "Tiempos Headline";
  src: url("/@addepar/ice-box/fonts/TiemposHeadlineWeb-Bold.eot");
  src: url("/@addepar/ice-box/fonts/TiemposHeadlineWeb-Bold.eot?#iefix") format("embedded-opentype"), url("/@addepar/ice-box/fonts/TiemposHeadlineWeb-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "Tiempos Headline";
  src: url("/@addepar/ice-box/fonts/TiemposHeadlineWeb-BoldItalic.eot");
  src: url("/@addepar/ice-box/fonts/TiemposHeadlineWeb-BoldItalic.eot?#iefix") format("embedded-opentype"), url("/@addepar/ice-box/fonts/TiemposHeadlineWeb-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic; }

@font-face {
  font-family: "Tiempos Text";
  src: url("/@addepar/ice-box/fonts/TiemposTextWeb-Regular.eot");
  src: url("/@addepar/ice-box/fonts/TiemposTextWeb-Regular.eot?#iefix") format("embedded-opentype"), url("/@addepar/ice-box/fonts/TiemposTextWeb-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Tiempos Text";
  src: url("/@addepar/ice-box/fonts/TiemposTextWeb-RegularItalic.eot");
  src: url("/@addepar/ice-box/fonts/TiemposTextWeb-RegularItalic.eot?#iefix") format("embedded-opentype"), url("/@addepar/ice-box/fonts/TiemposTextWeb-RegularItalic.woff") format("woff");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: "Tiempos Text";
  src: url("/@addepar/ice-box/fonts/TiemposTextWeb-Semibold.eot");
  src: url("/@addepar/ice-box/fonts/TiemposTextWeb-Semibold.eot?#iefix") format("embedded-opentype"), url("/@addepar/ice-box/fonts/TiemposTextWeb-Semibold.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "Tiempos Text";
  src: url("/@addepar/ice-box/fonts/TiemposTextWeb-SemiboldItalic.eot");
  src: url("/@addepar/ice-box/fonts/TiemposTextWeb-SemiboldItalic.eot?#iefix") format("embedded-opentype"), url("/@addepar/ice-box/fonts/TiemposTextWeb-SemiboldItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic; }


@font-face {
  font-family: "Univers-Tabular2";
  src: url("/@addepar/ice-box/fonts/UniversLTStd-Light.woff") format("woff"), url("/fonts/UniversLTStd-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "Univers-Tabular2";
  src: url("/@addepar/ice-box/fonts/UniversLTStd-LightObl.woff") format("woff"), url("/fonts/UniversLTStd-LightObl.otf") format("opentype");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: "Univers-Tabular2";
  src: url("/@addepar/ice-box/fonts/UniversLTStd.woff") format("woff"), url("/fonts/UniversLTStd.otf") format("opentype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Univers-Tabular2";
  src: url("/@addepar/ice-box/fonts/UniversLTStd-Obl.woff") format("woff"), url("/fonts/UniversLTStd-Obl.otf") format("opentype");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: "Univers-Tabular2";
  src: url("/@addepar/ice-box/fonts/UniversLTStd-Bold.woff") format("woff"), url("/fonts/UniversLTStd-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "Univers-Tabular2";
  src: url("/@addepar/ice-box/fonts/UniversLTStd-BoldObl.woff") format("woff"), url("/fonts/UniversLTStd-BoldObl.otf") format("opentype");
  font-weight: 700;
  font-style: italic; }




html,
body {
  font-family: "Univers-Next", "Helvetica Neue", "Helvetica", Arial, sans-serif; }
  html *,
  body * {
    text-rendering: optimizeLegibility;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

/*
Styleguide Ice Box - Elements - Button
*/
.button-text, .button-default, .button-select, .button-primary, .button-danger, .button-link, .button-icon {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  color: inherit;
  font: inherit;
  line-height: 1;
  user-select: none;
  touch-action: manipulation;
  cursor: pointer;
  color: #333333;
  font-family: "Univers-Next", "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 13px;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  height: 32px;
  vertical-align: middle;
  min-width: 72px;
  padding-left: 12px;
  padding-right: 12px;
  border: 1px solid transparent;
  border-radius: 2px;
  transition: background-color 0.1s ease-in-out, border-color 0.1s ease-in-out; }
  .button-text:active, .button-default:active, .button-select:active, .button-primary:active, .button-danger:active, .button-link:active, .button-icon:active, .is-active.button-text, .is-active.button-default, .is-active.button-select, .is-active.button-primary, .is-active.button-danger, .is-active.button-link, .is-active.button-icon {
    box-shadow: none; }
  .button-text:active:focus, .button-default:active:focus, .button-select:active:focus, .button-primary:active:focus, .button-danger:active:focus, .button-link:active:focus, .button-icon:active:focus, .is-active.button-text:focus, .is-active.button-default:focus, .is-active.button-select:focus, .is-active.button-primary:focus, .is-active.button-danger:focus, .is-active.button-link:focus, .is-active.button-icon:focus, .active.button-text:focus, .active.button-default:focus, .active.button-select:focus, .active.button-primary:focus, .active.button-danger:focus, .active.button-link:focus, .active.button-icon:focus {
    outline: none; }
  .button-text:hover, .button-default:hover, .button-select:hover, .button-primary:hover, .button-danger:hover, .button-link:hover, .button-icon:hover {
    color: #5c5c5c; }
  .button-text:active, .button-default:active, .button-select:active, .button-primary:active, .button-danger:active, .button-link:active, .button-icon:active, .is-active.button-text, .is-active.button-default, .is-active.button-select, .is-active.button-primary, .is-active.button-danger, .is-active.button-link, .is-active.button-icon, .active.button-text, .active.button-default, .active.button-select, .active.button-primary, .active.button-danger, .active.button-link, .active.button-icon,
  .open .dropdown-toggle.button-text,
  .open .dropdown-toggle.button-default,
  .open .dropdown-toggle.button-select,
  .open .dropdown-toggle.button-primary,
  .open .dropdown-toggle.button-danger,
  .open .dropdown-toggle.button-link,
  .open .dropdown-toggle.button-icon {
    color: #0a0a0a; }
  .button-text:focus, .button-default:focus, .button-select:focus, .button-primary:focus, .button-danger:focus, .button-link:focus, .button-icon:focus {
    outline-offset: -2px;
    outline-color: #cfcfcf; }
  [disabled].button-text, [disabled].button-default, [disabled].button-select, [disabled].button-primary, [disabled].button-danger, [disabled].button-link, [disabled].button-icon,
  fieldset[disabled] .button-text,
  fieldset[disabled] .button-default,
  fieldset[disabled] .button-select,
  fieldset[disabled] .button-primary,
  fieldset[disabled] .button-danger,
  fieldset[disabled] .button-link,
  fieldset[disabled] .button-icon {
    cursor: not-allowed;
    pointer-events: none;
    box-shadow: none;
    color: #adadad; }
  .open .dropdown-toggle.button-text:focus, .open .dropdown-toggle.button-default:focus, .open .dropdown-toggle.button-select:focus, .open .dropdown-toggle.button-primary:focus, .open .dropdown-toggle.button-danger:focus, .open .dropdown-toggle.button-link:focus, .open .dropdown-toggle.button-icon:focus,
  .open [data-toggle='dropdown'].button-text:focus,
  .open [data-toggle='dropdown'].button-default:focus,
  .open [data-toggle='dropdown'].button-select:focus,
  .open [data-toggle='dropdown'].button-primary:focus,
  .open [data-toggle='dropdown'].button-danger:focus,
  .open [data-toggle='dropdown'].button-link:focus,
  .open [data-toggle='dropdown'].button-icon:focus {
    outline: none;
    color: #595959; }

label[class^='button-'] {
  line-height: 32px;
  min-width: min-content; }

.button-default, .button-select {
  color: #333333;
  background-color: #f4f4f4;
  border-color: #c7c7c7; }
  .button-default:hover, .button-select:hover {
    color: #0a0a0a;
    background-color: #f6f6f6;
    border-color: #bcbcbc; }
  .button-default[disabled], [disabled].button-select,
  fieldset[disabled] .button-default,
  fieldset[disabled] .button-select {
    cursor: not-allowed;
    pointer-events: none;
    box-shadow: none;
    color: #adadad;
    background-color: #fbfbfb;
    border-color: #e9e9e9; }
  .button-default:active, .button-select:active, .button-default.is-active, .is-active.button-select,
  .open .button-default.dropdown-toggle,
  .open .dropdown-toggle.button-select, .button-default.ice-dropdown-toggle.is-open, .ice-dropdown-toggle.is-open.button-select {
    color: #0a0a0a;
    background-color: #f2f2f2;
    border-color: #bcbcbc; }

.button-primary {
  color: #ffffff;
  background-color: #333333;
  border-color: black; }
  .button-primary:hover {
    color: white;
    background-color: #5c5c5c;
    border-color: black; }
  .button-primary[disabled],
  fieldset[disabled] .button-primary {
    cursor: not-allowed;
    pointer-events: none;
    box-shadow: none;
    color: white;
    background-color: #adadad;
    border-color: #999999; }
  .button-primary:active, .button-primary.is-active,
  .open .button-primary.dropdown-toggle, .button-primary.ice-dropdown-toggle.is-open {
    color: white;
    background-color: #0a0a0a;
    border-color: black; }

.button-danger {
  color: #ffffff;
  background-color: #cb323b;
  border-color: #791e23; }
  .button-danger:hover {
    color: white;
    background-color: #d55b62;
    border-color: #5e0000; }
  .button-danger[disabled],
  fieldset[disabled] .button-danger {
    cursor: not-allowed;
    pointer-events: none;
    box-shadow: none;
    color: white;
    background-color: #eaadb1;
    border-color: #c9a5a7; }
  .button-danger:active, .button-danger.is-active,
  .open .button-danger.dropdown-toggle, .button-danger.ice-dropdown-toggle.is-open {
    color: white;
    background-color: #c10914;
    border-color: #5e0000; }

.button-link {
  color: #27618a;
  background-color: transparent;
  border-color: transparent; }
  .button-link:hover {
    color: #004173;
    background-color: transparent;
    border-color: transparent; }
  .button-link[disabled],
  fieldset[disabled] .button-link {
    cursor: not-allowed;
    pointer-events: none;
    box-shadow: none;
    color: #a9c0d0;
    background-color: transparent;
    border-color: transparent; }
  .button-link:active, .button-link.is-active,
  .open .button-link.dropdown-toggle, .button-link.ice-dropdown-toggle.is-open {
    color: #004173;
    background-color: transparent;
    border-color: transparent; }
  .button-link:not(:hover) {
    text-decoration: underline; }

.button-select {
  border-style: dashed; }

.button-icon {
  color: #999999;
  padding: 0;
  width: 32px;
  min-width: 32px; }
  .button-icon:hover, .button-icon:active, .button-icon.is-active, .button-icon.active,
  .open .button-icon.dropdown-toggle {
    border-color: #c7c7c7; }
  .button-icon:active, .button-icon.is-active, .button-icon.active,
  .open .button-icon.dropdown-toggle {
    background-color: #efefef; }
  .button-icon img {
    transition: opacity 0.1s ease-out;
    opacity: 0.2;
    height: 20px; }
  .button-icon:hover img,
  .button-icon.is-active img,
  .button-icon.active img {
    opacity: 1; }

.button-flush-group {
  display: flex;
  flex-wrap: wrap; }
  .button-flush-group [class^='button-'] + [class^='button-'] {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: -1px; }
  .button-flush-group [class^='button-']:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; }
  .button-flush-group [class^='button-'][disabled] {
    z-index: -1; }

.button-large {
  height: 40px;
  padding-right: 16px;
  padding-left: 16px;
  min-width: 88px; }


.font-test {
  line-height: 1;
}

.font-test.bold {
  font-weight: bold;
}

table td {
  border: 1px solid black;
}

table.on-td tr td:first-child {
  font-family: 'Univers-Tabular';
}

table.on-td tr td:nth-child(2) {
  font-family: 'Univers-Tabular2';
}

table.on-span .tab-old,
.p-tags .tab-old {
  font-family: 'Univers-Tabular';
}
table.on-span .tab-new,
.p-tags .tab-new {
  font-family: 'Univers-Tabular2';
}

.p-tags span {
  border: 1px solid black;
}
