// Borders
// -----------------------------------------------------------------------------
// TODO: See if we can refactor these further, design-wise

// most common border color
$global-border-color:                   $border-item !default;
$global-border-size:                    1px !default;
$global-border-style:                   $global-border-size solid $global-border-color !default;
$global-highlight-border-style:         2px solid $border-blue !default;
$global-highlight-hidden-border-style:  2px solid transparent !default;
$border-item-style:                     1px solid $border-item !default;

$global-hidden-border-style:            $global-border-size solid transparent !default;

$border-radius-none:                    0 !default;
$border-radius-base:                    2px !default;
$border-radius-large:                   3px !default;
$border-radius-small:                   2px !default;
$border-radius-circle:                  50% !default;
