// Typography
//
// Addepar's typography system.
// Note that this section is probably going be refactored and the documentation is not complete yet.
//
// $univers             - Univers font
// $univers-condensed   - Univers font condensed
// $univers-tabular     - Univers font tabular
// $tiempos             - Tiempos font
// $tiempos-headline    - Tiempos font headline
// $backup-fonts        - Browser friendly sans-serif backup fonts to be used along side any custom font declaration
// $font-thin           - font weight 100
// $font-[weight]       - font weights 100-900 respectively according to weight name (above is example)
//
// Styleguide Ice-Box.Variables.Typography

// Internal note: Refactor this!

// Font Family
// -------------------------
$global-font-folder:                '/ice-box/fonts' !default;
$univers-font-folder:               $global-font-folder !default;
$gotham-font-folder:                $global-font-folder !default;
$gotham-narrow-font-folder:         $global-font-folder !default;
$whitney-font-folder:               $global-font-folder !default;
$whitney-numeric-font-folder:       $global-font-folder !default;
$tiempos-headline-font-folder:      $global-font-folder !default;
$tiempos-text-font-folder:          $global-font-folder !default;

$univers:                           'Univers-Next' !default;
$univers-condensed:                 'Univers-Next-Condensed' !default;
$univers-tabular:                   'Univers-Tabular' !default;
$tiempos:                           'Tiempos Text' !default;
$tiempos-headline:                  'Tiempos Headline' !default;
$backup-fonts:                      'Helvetica Neue', 'Helvetica', Arial, sans-serif !default;

$font-family-sans-serif:  $univers, $backup-fonts !default;
$font-family-serif:       Georgia, 'Times New Roman', Times, serif !default;
$font-family-monospace:   Menlo, Monaco, Consolas, 'Courier New', monospace !default;
$font-family-condensed:   $univers-condensed, $font-family-sans-serif !default;
$font-family-tabular:     $univers-tabular, $font-family-sans-serif !default;
$font-family-base:        $font-family-sans-serif !default;


// Font Weights
// -------------------------
$font-thin:                         100;
$font-extra-light:                  200;
$font-light:                        300;
$font-normal:                       400;
$font-medium:                       500;
$font-semi-bold:                    600;
$font-bold:                         700;
$font-extra-bold:                   800;
$font-heavy:                        900;


// Font Size
// -------------------------
$font-size-base:                    13px !default;

$font-size-xl:                      ceil(($font-size-base * 1.7)) !default; // 22px
$font-size-large:                   ceil(($font-size-base * 1.25)) !default; // 17px
$font-size-medium:                  14px !default;
$font-size-small:                   ceil(($font-size-base * 0.85)) !default; // 12px
$font-size-smaller:                 11px !default;
$font-size-xsmall:                  10px !default;
$font-size-smallest:                8px !default;

$font-size-h1:                      floor(($font-size-base * 2.6)) !default; // 33px
$font-size-h2:                      floor(($font-size-base * 2.15)) !default; // 27px
$font-size-h3:                      $font-size-xl !default;
$font-size-h4:                      $font-size-large !default;
$font-size-h5:                      $font-size-base !default;
$font-size-h6:                      $font-size-small !default;

$font-size-headline:                floor(($font-size-base * 3.7)) !default; // 48px

// Line Height
// -------------------------
$line-height-base:                  1.6796875 !default; // ~22/13
$line-height-computed:              floor(($font-size-base * $line-height-base)) !default; // 21px

$line-height-large:                 1.33 !default;
$line-height-small:                 1.5 !default;
$line-height-xs:                    1.1 !default;

// Letter Spacing
// -------------------------

$standard-letter-spacing:           1px !default;
