// Core Button Variables
// -----------------------------------------------------------------------------

// Text
$button-base-color:               $text-dark !default;
$button-font-family:              $font-family-sans-serif;
$button-font-weight:              $font-medium !default;
$button-font-size:                $font-size-base !default;
$button-line-height:              1 !default;

// Increments for state color adjustments
$button-hover-color-inc:          0.2 !default;
$button-disabled-color-inc:       0.6 !default;
$button-pressed-color-inc:        0.2 !default;

// Layout
$button-border-width:             1px !default;
$button-border-radius:            $border-radius-base !default;

$button-height:                   $spacing-default * 4 !default;
$button-large-height:             $spacing-default * 5 !default;
$button-min-width:                $spacing-default * 9 !default;
$button-large-min-width:          $spacing-default * 11 !default;
$button-spacing-horizontal:       $spacing-small * 3 !default;
$button-large-spacing-horizontal: $spacing-double !default;

$button-focus-outline-offset:     -2px !default;
$button-transition-speed:         0.1s !default;

// Default state
$button-default-color:            $text-dark !default;
$button-default-bg-color:         $background-extra-light !default !default;
$button-default-border-color:     $background-medium !default;

// Primary state
$button-primary-color:            $text-white !default;
$button-primary-bg-color:         $background-dark !default;
$button-primary-border-color:     darken($button-primary-bg-color, 20%) !default;

// Danger state
$button-danger-color:             $text-white !default;
$button-danger-bg-color:          $text-red !default;
$button-danger-border-color:      darken($button-danger-bg-color, 20%) !default;

// Button icon
$button-icon-color:               $icon-light-gray !default;
$button-icon-hover-color:         darken($button-icon-color, 25%) !default;
$button-icon-size:                $button-height !default;
$button-icon-img-size:            20px !default;
$button-icon-hover-border:        $button-default-border-color !default;
$button-icon-img-opacity:         0.2 !default;
$button-icon-transition-duration: $button-transition-speed !default;

// Button group
$button-group-border-style:       $global-border-style !default;
$button-group-border-size:        $global-border-size !default;
