<h2>Font on span</h2>
<table class="on-span">
<tr>
  <td><span class="font-test tab-old" style="font-size: 13px;">13px Univers Tabular 0123456789</span></td>
  <td><span class="font-test tab-new" style="font-size: 13px;">13px Univers Tabular new 0123456789</span></td>
  <td><span class="font-test univers" style="font-size: 13px;">13px Univers Next 0123456789</span></td>
</tr>
<tr>
  <td><span class="font-test tab-old bold" style="font-size: 13px;">13px Univers Tabular 0123456789</span></td>
  <td><span class="font-test tab-new bold" style="font-size: 13px;">13px Univers Tabular new 0123456789</span></td>
  <td><span class="font-test univers bold" style="font-size: 13px;">13px Univers Next 0123456789</span></td>
</tr>
<tr>
  <td><span class="font-test tab-old" style="font-size: 14px;">14px Univers Tabular 0123456789</span></td>
  <td><span class="font-test tab-new" style="font-size: 14px;">14px Univers Tabular new 0123456789</span></td>
  <td><span class="font-test univers" style="font-size: 14px;">14px Univers Next 0123456789</span></td>
</tr>
<tr>
  <td><span class="font-test tab-old bold" style="font-size: 14px;">14px Univers Tabular 0123456789</span></td>
  <td><span class="font-test tab-new bold" style="font-size: 14px;">14px Univers Tabular new 0123456789</span></td>
  <td><span class="font-test univers bold" style="font-size: 14px;">14px Univers Next 0123456789</span></td>
</tr>
<tr>
  <td><span class="font-test tab-old" style="font-size: 15px;">15px Univers Tabular 0123456789</span></td>
  <td><span class="font-test tab-new" style="font-size: 15px;">15px Univers Tabular new 0123456789</span></td>
  <td><span class="font-test univers" style="font-size: 15px;">15px Univers Next 0123456789</span></td>
</tr>
<tr>
  <td><span class="font-test tab-old bold" style="font-size: 15px;">15px Univers Tabular 0123456789</span></td>
  <td><span class="font-test tab-new bold" style="font-size: 15px;">15px Univers Tabular new 0123456789</span></td>
  <td><span class="font-test univers bold" style="font-size: 15px;">15px Univers Next 0123456789</span></td>
</tr>
<tr>
  <td><span class="font-test tab-old" style="font-size: 16px;">16px Univers Tabular 0123456789</span></td>
  <td><span class="font-test tab-new" style="font-size: 16px;">16px Univers Tabular new 0123456789</span></td>
  <td><span class="font-test univers" style="font-size: 16px;">16px Univers Next 0123456789</span></td>
</tr>
<tr>
  <td><span class="font-test tab-old bold" style="font-size: 16px;">16px Univers Tabular 0123456789</span></td>
  <td><span class="font-test tab-new bold" style="font-size: 16px;">16px Univers Tabular new 0123456789</span></td>
  <td><span class="font-test univers bold" style="font-size: 16px;">16px Univers Next 0123456789</span></td>
</tr>
</table>

<h2>Font on td</h2>
<table class="on-td">
<tr>
  <td><span class="font-test tab-old" style="font-size: 13px;">13px Univers Tabular 0123456789</span></td>
  <td><span class="font-test tab-new" style="font-size: 13px;">13px Univers Tabular new 0123456789</span></td>
  <td><span class="font-test univers" style="font-size: 13px;">13px Univers Next 0123456789</span></td>
</tr>
<tr>
  <td><span class="font-test tab-old bold" style="font-size: 13px;">13px Univers Tabular 0123456789</span></td>
  <td><span class="font-test tab-new bold" style="font-size: 13px;">13px Univers Tabular new 0123456789</span></td>
  <td><span class="font-test univers bold" style="font-size: 13px;">13px Univers Next 0123456789</span></td>
</tr>
<tr>
  <td><span class="font-test tab-old" style="font-size: 14px;">14px Univers Tabular 0123456789</span></td>
  <td><span class="font-test tab-new" style="font-size: 14px;">14px Univers Tabular new 0123456789</span></td>
  <td><span class="font-test univers" style="font-size: 14px;">14px Univers Next 0123456789</span></td>
</tr>
<tr>
  <td><span class="font-test tab-old bold" style="font-size: 14px;">14px Univers Tabular 0123456789</span></td>
  <td><span class="font-test tab-new bold" style="font-size: 14px;">14px Univers Tabular new 0123456789</span></td>
  <td><span class="font-test univers bold" style="font-size: 14px;">14px Univers Next 0123456789</span></td>
</tr>
<tr>
  <td><span class="font-test tab-old" style="font-size: 15px;">15px Univers Tabular 0123456789</span></td>
  <td><span class="font-test tab-new" style="font-size: 15px;">15px Univers Tabular new 0123456789</span></td>
  <td><span class="font-test univers" style="font-size: 15px;">15px Univers Next 0123456789</span></td>
</tr>
<tr>
  <td><span class="font-test tab-old bold" style="font-size: 15px;">15px Univers Tabular 0123456789</span></td>
  <td><span class="font-test tab-new bold" style="font-size: 15px;">15px Univers Tabular new 0123456789</span></td>
  <td><span class="font-test univers bold" style="font-size: 15px;">15px Univers Next 0123456789</span></td>
</tr>
<tr>
  <td><span class="font-test tab-old" style="font-size: 16px;">16px Univers Tabular 0123456789</span></td>
  <td><span class="font-test tab-new" style="font-size: 16px;">16px Univers Tabular new 0123456789</span></td>
  <td><span class="font-test univers" style="font-size: 16px;">16px Univers Next 0123456789</span></td>
</tr>
<tr>
  <td><span class="font-test tab-old bold" style="font-size: 16px;">16px Univers Tabular 0123456789</span></td>
  <td><span class="font-test tab-new bold" style="font-size: 16px;">16px Univers Tabular new 0123456789</span></td>
  <td><span class="font-test univers bold" style="font-size: 16px;">16px Univers Next 0123456789</span></td>
</tr>
</table>

<h2>P tags</h2>
<div class="p-tags">
  <p><span class="font-test tab-old" style="font-size: 13px;">13px Univers Tabular 0123456789</span></p>
  <p><span class="font-test tab-new" style="font-size: 13px;">13px Univers Tabular new 0123456789</span></p>
  <p><span class="font-test univers" style="font-size: 13px;">13px Univers Next 0123456789</span></p>
  <p><span class="font-test tab-old bold" style="font-size: 13px;">13px Univers Tabular 0123456789</span></p>
  <p><span class="font-test tab-new bold" style="font-size: 13px;">13px Univers Tabular new 0123456789</span></p>
  <p><span class="font-test univers bold" style="font-size: 13px;">13px Univers Next 0123456789</span></p>
  <p><span class="font-test tab-old" style="font-size: 14px;">14px Univers Tabular 0123456789</span></p>
  <p><span class="font-test tab-new" style="font-size: 14px;">14px Univers Tabular new 0123456789</span></p>
  <p><span class="font-test univers" style="font-size: 14px;">14px Univers Next 0123456789</span></p>
  <p><span class="font-test tab-old bold" style="font-size: 14px;">14px Univers Tabular 0123456789</span></p>
  <p><span class="font-test tab-new bold" style="font-size: 14px;">14px Univers Tabular new 0123456789</span></p>
  <p><span class="font-test univers bold" style="font-size: 14px;">14px Univers Next 0123456789</span></p>
  <p><span class="font-test tab-old" style="font-size: 15px;">15px Univers Tabular 0123456789</span></p>
  <p><span class="font-test tab-new" style="font-size: 15px;">15px Univers Tabular new 0123456789</span></p>
  <p><span class="font-test univers" style="font-size: 15px;">15px Univers Next 0123456789</span></p>
  <p><span class="font-test tab-old bold" style="font-size: 15px;">15px Univers Tabular 0123456789</span></p>
  <p><span class="font-test tab-new bold" style="font-size: 15px;">15px Univers Tabular new 0123456789</span></p>
  <p><span class="font-test univers bold" style="font-size: 15px;">15px Univers Next 0123456789</span></p>
  <p><span class="font-test tab-old" style="font-size: 16px;">16px Univers Tabular 0123456789</span></p>
  <p><span class="font-test tab-new" style="font-size: 16px;">16px Univers Tabular new 0123456789</span></p>
  <p><span class="font-test univers" style="font-size: 16px;">16px Univers Next 0123456789</span></p>
  <p><span class="font-test tab-old bold" style="font-size: 16px;">16px Univers Tabular 0123456789</span></p>
  <p><span class="font-test tab-new bold" style="font-size: 16px;">16px Univers Tabular new 0123456789</span></p>
  <p><span class="font-test univers bold" style="font-size: 16px;">16px Univers Next 0123456789</span></p>
</div>


{{outlet}}
